{% extends 'kumgan/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_page %}
    <span class="container">
    <div class="row text-center justify-content-center">
        <h2 class="col-2 title_of_page">Выберите Услуги</h2>
    </div>
    </span>
{% endblock title_page %}

{% block content %}
    <div class="container pt-5 border_time_date_card">
    <div class="row justify-content-center text-center">
        <div class="col-8">
            <form class="pt-5" method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="row justify-content-center">
                        <h2 class="col-6">
                            Отметье галочку:
                            {{ form }}
                        </h2>
                        <button id="button_index" type="submit" class="btn btn-outline-danger text-center w-50 m-5">
                            Завершить
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock content %}