{% extends 'kumgan/base.html' %}
{% load static %}
{% block title %} Kumgan {% endblock title %}
{% block title_page %}
    <span class="container">
    <div class="row text-center justify-content-center ">
        <h2 class="col-2 title_of_page">Мои записи</h2>
    </div>
    </span>
{% endblock title_page %}

{% block content %}

     <div class="container pt-5 border_time_date_card">
        <div class="row justify-content-center text-center ">
            {% for i in data %}
                {% if i.status == True %}
                 <h2 class="col-12 card">{{ i.time_and_date }}</h2>
                {% endif %}
            {% endfor %}
        </div>
     </div>

{% endblock content %}