{% extends 'kumgan/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'kumgan/css/signin_signout.css' %}">
{% endblock css %}

{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center text-center">
        <div class="col-5">
            <div>
                <img src="{% static 'kumgan/images/logo.png' %}" height="240px" alt="logo"/>
            </div>
        </div>
        <div class="col-7">
            <h1 class="sign_in_title">Войти</h1>
                <form class="pt-5" method="post">
                        {% csrf_token %}
                    <div class="container">
                        <div class="row justify-content-center">
                    <div class="col-12 p-2"> {{ form.username }}</div>
                  <div class="col-12 p-2"> {{ form.password }}</div>
                            <button id="button_index" type="submit"  class="btn btn-outline-success text-center w-50 m-5">
                                Войти
                            </button>
                    </div>
                    </div>
                    </form>

        </div>
    </div>
</div>

{%  endblock content %}