body{

}

.sign_in_title {
    font-family: 'Rubik Mono One',sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #940000 0%, #620A0B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}